/*
Theme Name: freelancerviet.net
Description: This is a child theme for Flatsome Theme
Author: UX Themes
Template: flatsome
Version: 3.0
*/

/*************** ADD CUSTOM CSS HERE.   ***************/
/*************** ADD MOBILE ONLY CSS HERE  ***************/
/*@import url('https://fonts.googleapis.com/css?family=Niramit');*/

body {
    font-family: 'Roboto',Helvetica,Arial,'DejaVu Sans','Liberation Sans',Freesans,sans-serif;
    font-size: 15px;
}
body, div, dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, h6, pre, code, form, legend, input, button, textarea, p, blockquote {
    margin: 0;
    padding: 0;
}
/*header*/
.nav>li>a, .nav-dropdown>li>a, .nav-column>li>a {
    transition: all .2s;
}
.dbreadcrumbs{
	background: inherit;
}
.main_wrapper{
	margin-top: 0;
}
.page_title{
	border-bottom: 0;
}
.relative {
    position: relative !important;
}
.main-nav .location-picker {
    margin-left: 0;
    margin-right: 10px;
    padding-left: 31px;
    font-size: 12px;
    font-weight: 300;
    width: 210px;
}

#wide-nav li.html .col{
	padding-bottom:0;
	padding-right:10px;
	padding-left:0;
	margin:0;
	height: 31px;
}
#wide-nav li.html .small-10{
	padding-left: 5px;
}
#wide-nav li.html .row{
	margin: 0;
}
#wide-nav li.html{
	width:100%;
	padding:0;
	margin:0;
}
#wide-nav li.html i{
	border-radius: 50%;
	width:30px;
	height: 30px;
	padding-top:7px;
	text-align:center;
	
}
/*shop*/
.shop-page-title .page-title-inner{
	padding: 0;
}
.product-container .vertical-thumbnails{
	margin-top: 20px
}
.block_widget section.product-sidebar-contact{
	padding: 0 5px 2px 10px;
margin: 10px 0 0;
border-radius: 4px;
border: 1px solid #eee;
}
/*home*/
.home .lead{
	text-align: center;
color: var(--main-color);
font-size: 30px;
}
.home .section-title-container{
	margin-bottom: 0;
}
.home .section-title-container h3{
	border-bottom:none;
}
.home .page-wrapper{
	padding-top:16px;
}
.home .home-banner-ad{
	padding:0 !important;
}
.section-title-normal span{
	border-bottom: none;
}
.center{
	display:block;
	margin: 0 auto;
}
.xemthem{
	font-size: 13px;
	display: block;
	margin: 0 auto;
	width: 200px !important;
}
.wpcf7 p {
    margin: 0;
    font-weight: bold;
}

.wpcf7 label {
    display: inline-block;
    width: 100%;
}
.wpcf7-form .wpcf7-submit{
	margin: 0 auto;
	display: block;
	border-radius: 4px;
}
.menu_cat_furn_2 .fields {
    width: calc(33.33% - 40px);
    margin: 20px;
    float: left;
}
.menu_cat_furn_2 .link {
    margin: 0px 0 30px;
}
.menu_cat_furn_2 .link a {
    padding: 10px 20px;
    border-radius: 3px;
    text-transform: uppercase;
    font-size: 16px;
    background: var(--main-color);
}
a {
    color: #333;
    font-weight: normal;
    text-decoration: none;
    -moz-transition: all 0.2s ease-in 0;
    -webkit-transition: all 0.2s ease-in;
    -webkit-transition-delay: 0;
    transition: all 0.2s ease-in 0;
}
.menu_cat_furn_2 .form_note {
    color: #000;
    font-size: 18px;
}
/*shortcode blog */
.item-cat{
	margin: 7px 0;
	border: 1px solid #DEDEDE;	
	position: relative;
}
.item-cat .post-item{
	padding-left: 20px;
}
.item-cat .item{
	display:block;
}
.item-cat .row{
	padding: 12px;
}
.item-cat .item-avatar{
	width: 42%;
	float: left;
	margin: 0 12px 12px 0;
}
.item-cat .item-content{
	margin-bottom: 12px;
	display: block;
}


.cat-name{
	background: #EEEEEE;
	line-height: 22px;
	font-size: 18px;	
}
.item-cat-title{
	padding-left: 12px;
	padding-right: 30px;
}
.item-cat h2{
	font-size: 12px;
}
.item-cat .clearfix{
	height: 25px;
	line-height: 25px;
	background: linear-gradient(to top, #E9E9E9, #ffffff);
}
.item-cat .btn{
	position: absolute;
	bottom: 12px;right: 12px;
	border: 1px solid #E9E9E9;
	border-radius: 10px;
	font-size: 12px;
	padding: 6px 12px;
	line-height:12px;
	color: #0072BC;
}


.home .img-title-cat.page_title{
display:none;
}
.sl-content h3{
	font-size: 20px;
	color: var(--main-color);
	text-transform: uppercase;
}
.contents_list_body_default{
	margin-top: -100px;
}
.contents_list_body_default img{
	border-radius: 10px;

}
.contents_list_body_default .icon-box-text{
	position: absolute;
width: 100%;
bottom: 0;
left: 0px;
z-index: 1;
padding: 10px 0px;
text-align: center;
background: #000000bd;
border-radius: 0 0 5px 5px;
}
.contents_list_body_default .icon-box-text h5{
	color:white;
}
.icon-box .icon-box-img{
	margin-bottom: 0;
}
.nav-uppercase>li>a{
	font-weight: inherit;
}
/*footer*/
footer{
	margin-top: 45px;
}
footer p{
	margin-bottom:0;
}
@media screen and (max-with: 709px) {
	.header, .header-wrapper {
		margin-left: 0px;
		margin-right: 0px;
		width:100%;
	}
}
